@font-face {
	font-family: "Monofett";
	src: url("../fonts/Monofett/Monofett-Regular.ttf") format("truetype");
  }
  
  .Monofett {
	font-family: "Monofett";
  }
  
  @font-face {
	font-family: "Manrope";
	src: url("../fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  }
  
  .Manrope {
	font-family: "Manrope";
  }

@font-face {
	font-family: "Sarpanch";
	src: url("../fonts/Sarpanch/Sarpanch-Bold.ttf") format("truetype");
}

	.Sarpanch {
		font-family: "Sarpanch";
	}